#wrapper-footer-full {
    background: lighten(black, 5);
    color: $white;

    a {
        color: $secondary;
    }

    .footer-widget:last-child {

        @include media-breakpoint-up(md) {
            text-align: right;
        }

        ul {
            padding-left: 0;

            li {
                list-style: none;
            }
        }
    }
}

#wrapper-footer {
    text-align: center;
    background: lighten(black, 5);
    
    .site-info {
        a {
            color: $secondary;
        }
    }
}

#footer-full-content .row {
    text-align: center;
    font-size: 1rem;

    @include media-breakpoint-up(md) {
        text-align: left;
        font-size: 1.15rem;
    }
}

.site-footer {
    font-size: .9rem;
    width: 100%;
}
