.admin-bar #wrapper-navbar {
    top: 32px;
}

#wrapper-navbar {
    background-color: initial;
    position: fixed;
    top: 0;
    z-index: 10;
}

.img-fluid {
    display: none;
    @include media-breakpoint-up(md) {
        display: inline;
    }
}